
body{
    position: absolute !important;
    padding: 0 !important;
    width: var(--ad-width) !important;
    height: var(--ad-height) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    z-index: 9999 !important;
}

.wrapper{
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.bg, .dragger, .fg{
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;

    background-size: contain;
}

.bg{
    background-color: #e2e2e2;
}

.slide_cn{
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;

    background-size: contain;
}

.bg{
    background-size: cover;
}

.slide_cn{
    top: 2px;
}

.slide_cn *{
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;
    transform-origin: 50% 50%;

    background-size: contain;
}

.ico_dark, .ico_light, .ico_cn{
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 20px;

    background-size: contain;
    pointer-events: none;
}

.ico_dark, .ico_light{
    bottom: 0;
    right: 0;
}

.arr_dark, .arr_l, .arr_r, .arr_dark, .arr_light{
    position: absolute;
    width: 40px;
    height: 40px;
}

.arr_dark, .arr_light{
    top: 0;
    left: 0;
    background-size: contain;
}

.arr_l, .arr_r{
    top: 50%;
    transform: translateY(-50%);
}

.arr_l .arr_dark, .arr_l .arr_light{
    transform: scaleX(-1);
}

.arr_l{
    left: 4px;
}

.arr_r{
    right: 4px;
}