:root {
    --ad-width: 320px;
    --ad-height: 480px;
}

body {
    position: absolute !important;
    padding: 0 !important;
    width: var(--ad-width) !important;
    height: var(--ad-height) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    z-index: 9999 !important;
}

.wrapper {
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.bg {
    position: absolute;
    width: var(--ad-width);
    height: var(--ad-height);
    top: 0;
    left: 0;
    pointer-events: none;
}

.fw {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.abs {
    position: absolute;
}

.lineCont {
    display: flex;
    justify-content: space-between;
}

.flow {
    width: 100%;
    height: 0;

    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* border-radius: 50%; */
}

.line {
    width: 12%;
    height: 0;
}

.click_icon {
    width: 60px;
    right: 20px;
    bottom: 40%;
}

.opacity0 {
    opacity: 0;
}